:root {
    --light-color: #E9E8ED;
    --dark-color: #38393D
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* Left Hero Styles */

section {
    font-family: 'Coustard', serif;
    position: relative;
    background-image: url(images/darth-vader.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    padding: 2em;
    background-color: rgba(56, 57, 61, 0.8);
}

.logo {
    width: 70px;
}

.heading {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 1px;
    color: var(--light-color);
}

.image-link {
    text-align: center;
    margin-right: auto;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.image-link,
a:link,
a:visited {
    color: var(--dark-color);
    text-decoration: none;
}

a:hover {
    color: var(--light-color);
    text-decoration: none;
}

/* Right Input Styles */
main {
    background-color: var(--light-color);
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Quicksand', sans-serif;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px 0;
}

.information p {
    margin-top: 0.5em;
    letter-spacing: 1.5px;
}

.information p:last-child {
    font-weight: 700;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    padding: 3em;
    box-shadow: 0 3px 20px silver;
    background-color: white;
}

form {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2em;
}

form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

form label {
    color: silver;
    font-size: 12px;
    letter-spacing: 2px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: all 500ms ease-out;
}

.form-input:focus-within + label,
.form-input:valid + label {
    top: -20px;
    color: var(--dark-color);
}

.form-input {
    border: 1px solid silver;
    border-radius: 5px;
    height: 30px;
    width: 230px;
    padding-left: 5px;
}


.footer {
    padding: 0 30px 30px 50px;
}

.sign-up-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    height: 40px;
    width: 200px;
    border-style: none;
    border-radius: 5px;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 5px 10px;
    transition: all 150ms ease-in;
}

.sign-up-button:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    cursor: pointer;
}